<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperCool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3A3D451C15C631000CD3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3A3D591C15C632000CD3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3A3D641C15C632000CD3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
